{% load i18n static view_breadcrumbs %}
{% get_current_language as LANGUAGE_CODE %}<!DOCTYPE html lang="{{ LANGUAGE_CODE }}">
<head>{% spaceless %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}{% trans "Django Deovi" %}{% endblock head_title %}</title>
    {% block head_metas %}{% endblock head_metas %}
    {% block head_favicon %}
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
        <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="{% static 'favicon/browserconfig.xml' %}">
        <meta name="theme-color" content="#ffffff">
    {% endblock head_favicon %}
    {% block head_styles %}
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    {% endblock head_styles %}
{% endspaceless %}
</head>

<body>{% spaceless %}
    <div class="d-grid">
        <nav id="page-header" class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">{% trans "Django Deovi" %}</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar-toggler" aria-controls="main-navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="main-navbar-toggler">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if request.user and request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "admin:index" %}" target="_blank">{% trans "Admin" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "admin:logout" %}">{% trans "Logout" %}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "admin:login" %}">{% trans "Login" %}</a>
                        </li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% block breadcrumbs %}
            {% render_breadcrumbs "view_breadcrumbs/bootstrap5.html" %}
        {% endblock %}
        <div id="page-content" class="container-fluid">
            {% block content %}Sandbox skeleton{% endblock %}
        </div>
    </div>

{% block javascript %}
    <script src="{% static "js/main.js" %}"></script>
{% endblock javascript %}
{% endspaceless %}</body>
</html>
