{% extends "django_deovi/base.html" %}

{% block head_title %}{{ directory_object }} - {{ block.super }}{% endblock head_title %}

{% block app_content %}{% spaceless %}
<div class="directory-detail">
    <h2 class="directory-title mt-2 mb-3 text-center">
        {{ directory_object.name }}
        <span>{{ directory_object.directory_name }}</span><br>
        <small class="text-muted sm-2 fw-normal">{{ directory_object.directory_parent }}</small>
    </h2>

    <div class="container px-4">
        <div class="directory-mediafiles list-group">
            {% for mediafile_object in object_list %}
            <div class="mediafile-item list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h3 class="h6 mb-1">{{ mediafile_object.filename }}</h3>
                    <small>{{ mediafile_object.filesize|filesizeformat }}</small>
                </div>
                <div class="d-flex w-100">
                    <p class="mb-0 me-4">
                        <abbr class="sm-2 text-decoration-none" title="Stored on">
                            <i class="bi bi-download me-1"></i> {{ mediafile_object.stored_date }}
                        </abbr>
                    </p>
                    <p class="mb-0">
                        <abbr class="sm-2 text-decoration-none" title="Loaded on">
                            <i class="bi bi-node-plus me-1"></i> {{ mediafile_object.loaded_date }}
                        </abbr>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% include "django_deovi/pagination.html" %}
</div>
{% endspaceless %}{% endblock app_content %}
