///
/// Customized setting variables
///
/// This must be loaded before Bootstrap variables to avoid overriding too much code
/// due to Bootstrap structure which make too many computations in its 'variables' file.
///
$enable-negative-margins: true;
$bb-font-directory: "/static/fonts/";

// Load sub setting files
@import "./fonts";
@import "./colors";
@import "./icomoon_icons";

$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-base: $font-weight-normal ;
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1100px,
    xxl: 1164px
);

// One pixel shortcut
$onepixel: 0.0625rem; // Computed for Bootstrap base size which is on 16px
// Debug line to possibly calibrate it again when default Bootstrap base size has been
// changed
// @debug "One pixel is " + rem-calc(1px);

// The header menu height size
// In this site implementation, it's used by some sources like cms trump and content
// to set features according to fixed navigation and offcanvas
$site-menu-height: rem-calc(56px);

// Site design system require more than a single small size
$small1-font-size: 0.875rem;
$small2-font-size: 0.75rem;
$small3-font-size: 0.625rem;

// Set all the font sizes from bigger to smaller
$small-sizes: (
    1: $small1-font-size,
    2: $small2-font-size,
    3: $small3-font-size,
);

///
/// Bootstrap variables overriding and site variables
///

// Adapt container max widths to mockups
$container-max-widths: (
    "sm": 540px,
    "md": 720px,
    "lg": 960px,
    "xl": 1100px,
    "xxl": 1140px
);

// More spacer
$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * 0.25,
    2: $spacer * 0.5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 4.5,
    7: $spacer * 6,
    8: $spacer * 7.5
);

// Body adjustments
$body-color: $midnight-blue;
$body-bg: $grey;

// Site font families
$font-family-lvmh: "LVMH", serif;
$font-family-nunito-sans: "Nunito Sans", sans-serif;

// Override default Bootstrap to adopt site fonts
$font-family-serif: $font-family-lvmh;
$font-family-sans-serif: $font-family-nunito-sans;
$font-family-monospace: sfmono-regular, menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace;

// Enforce Headings font family (instead of Bootstrap inhering it from base font)
$headings-font-family: $font-family-serif;

// Heading font sizes, h6 is the same as paragraph
$h1-font-size: 4.5rem;
$h2-font-size: 3.125rem;
$h3-font-size: 2.375rem;
$h4-font-size: 1.75rem;
$h5-font-size: 1.125rem;
$h6-font-size: 1rem;

// Set all the font sizes from bigger to smaller
$font-sizes: (
    1: $h1-font-size,
    2: $h2-font-size,
    3: $h3-font-size,
    4: $h4-font-size,
    5: $h5-font-size,
    6: $h6-font-size,
    7: $small1-font-size,
    8: $small2-font-size,
    9: $small3-font-size,
);

// Adjust some basic element sizes
$lead-font-size: $h4-font-size;
$small-font-size: $small2-font-size;

// Adjust basic available radius
$border-radius: 0.3125rem;
$border-radius-sm: 0.25rem;
$border-radius-lg: 0.36rem;

// Globally disable focus shadows on inputs and buttons
$input-btn-focus-width: 0;
$input-btn-focus-box-shadow: none;
$input-box-shadow: null;

// Site navbar stands on the light theme variant but we don't use the theme variables,
// only the site ones
$navbar-radius: rem-calc(5px);
$navbar-background: $white;
$navbar-color: $midnight-blue;
$navbar-hover-background: $grey;
$navbar-hover-color: $blue-primary;
$navbar-active-color: $blue-primary;
$navbar-disabled-color: $greige-light;
$navbar-brand-color: $midnight-blue;
$navbar-brand-hover-color: $midnight-blue;
$navbar-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-search-background: $white;
$navbar-shadow: 0 0.3125rem 0.625rem rgba($midnight-blue, 0.05);

// Background used over media in Hero objects
// The mobile version is a little darker to ensure content is readable
$hero-veil-mobile: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.4) 45.86%,
    rgba(0, 0, 0, 0.4) 100%
);
$hero-veil-desktop: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.3) 45.86%,
    rgba(0, 0, 0, 0.3) 100%
);
